* {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
main {
  min-height: 90vh;
  max-width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav {
  background-color: black;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5vw;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  margin: 0 0.5rem;
}
nav a:hover {
  color: #3e8e41;
}
main {
  display: grid;
  grid-template-columns: repeat(2, minMax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}
main div {
  padding: 2rem;
  display: flex;
  background-color: white;
  border-radius: 0.5rem;
  flex-direction: column;
}
main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text section {
  margin: 0.5rem;
}
.cu {
  text-align: center;
}
.cu li {
  display: inline-block;
  padding: 9px 9px 0px 9px;
}

p {
  color: black;
  font-size: 1.2rem;
}
.butt {
  background-color: rgb(43, 122, 226);
  border: none;
  color: rgb(160, 125, 125);
  padding: 8px 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
.butt a {
  color: white;
  font-weight: bold;
}
